# Install these via asdf
argo 2.8.0
elixir 1.9.1
gradle 6.4.1
helm 2.16.1
helmfile 0.82.0
helmfile 0.82.0
heptio-authenticator-aws 0.3.0
k9s v0.19.6
Kubectl 1.18.3
nodejs 12.16.3
python 3.8.1
rust 1.38.0
sops v3.5.0
terraform 0.12.7
terragrunt 0.19.21
